{
    "openapi": "3.1.0",
    "info": {
        "title": "BluMark API Documentation",
        "version": "1.0.0",
        "description": "## BluMark PDF Watermarking API\n\nWelcome to the BluMark API. This API allows you to programmatically watermark PDF documents with custom ISO and lender information.\n\n### Authentication\n\nAll protected endpoints require a Bearer token obtained through the `/v1/login` or `/v1/register` endpoints.\n\nInclude the token in the `Authorization` header:\n```\nAuthorization: Bearer your-api-token\n```\n\n### Rate Limits\n\nAPI requests are subject to rate limiting based on your subscription plan. Check your user profile for remaining credits and job limits.\n\n### Watermark Job Workflow\n\n1. **Create a job** - Upload a PDF with watermark settings via `POST /v1/watermark-jobs`\n2. **Check status** - Poll `GET /v1/watermark-jobs/{id}/status` until processing completes\n3. **Download** - Retrieve the watermarked PDF via `GET /v1/watermark-jobs/{id}/download`"
    },
    "servers": [
        {
            "url": "https://www.blumark.pro/api"
        }
    ],
    "tags": [
        {
            "name": "Authentication",
            "description": "Endpoints for user registration, login, and token management"
        },
        {
            "name": "Email Verification",
            "description": "Endpoints for email verification management"
        },
        {
            "name": "Two-Factor Authentication",
            "description": "Endpoints for managing two-factor authentication"
        },
        {
            "name": "Watermark Jobs",
            "description": "Create and manage PDF watermarking jobs"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/v1/register": {
            "post": {
                "operationId": "auth.register",
                "description": "Create a new user account and receive an API token for authentication.\nThe returned token should be used as a Bearer token in the Authorization header\nfor all subsequent authenticated requests.",
                "summary": "Register a new user",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        201
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/login": {
            "post": {
                "operationId": "auth.login",
                "description": "Authenticate with email and password to receive an API token.\nIf the user has 2FA enabled, the response will include `two_factor_required: true`\nand you must call the `/two-factor-challenge` endpoint to complete login.",
                "summary": "Login",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/forgot-password": {
            "post": {
                "operationId": "passwordReset.sendResetLink",
                "description": "Send a password reset link to the user's email address.\nThe link will be valid for a limited time period.",
                "summary": "Send password reset link",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    }
                                },
                                "required": [
                                    "email"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/reset-password": {
            "post": {
                "operationId": "passwordReset.reset",
                "description": "Reset the user's password using the token received via email.",
                "summary": "Reset password",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "token",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/two-factor-challenge": {
            "post": {
                "operationId": "auth.verifyTwoFactor",
                "description": "Complete login by providing a valid 2FA code after receiving `two_factor_required: true`\nfrom the login endpoint.",
                "summary": "Verify two-factor authentication",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "recovery_code": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/logout": {
            "post": {
                "operationId": "auth.logout",
                "description": "Revoke the current API token. After calling this endpoint, the token\nused for authentication will no longer be valid.",
                "summary": "Logout",
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/user": {
            "get": {
                "operationId": "auth.user",
                "description": "Retrieve the profile information of the currently authenticated user,\nincluding their subscription plan and remaining job credits.",
                "summary": "Get current user",
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/email/verification-status": {
            "get": {
                "operationId": "emailVerification.status",
                "description": "Check if the authenticated user's email has been verified.",
                "summary": "Get email verification status",
                "tags": [
                    "Email Verification"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/email/verification-notification": {
            "post": {
                "operationId": "emailVerification.resend",
                "description": "Send a new email verification notification to the authenticated user.\nOnly works if the user's email is not already verified.",
                "summary": "Resend verification email",
                "tags": [
                    "Email Verification"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/email/verify/{id}/{hash}": {
            "get": {
                "operationId": "emailVerification.verify",
                "description": "Verify the user's email address using the verification token from the email link.\nThe hash should be the SHA-256 hash of the user's email address.",
                "summary": "Verify email with token",
                "tags": [
                    "Email Verification"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/two-factor/status": {
            "get": {
                "operationId": "twoFactor.status",
                "description": "Check if two-factor authentication is enabled for the current user.",
                "summary": "Get 2FA status",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/two-factor/enable": {
            "post": {
                "operationId": "twoFactor.enable",
                "description": "Generate a new 2FA secret and QR code URL. The user must then confirm\nthe setup by providing a valid TOTP code.",
                "summary": "Enable 2FA",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/two-factor/confirm": {
            "post": {
                "operationId": "twoFactor.confirm",
                "description": "Confirm 2FA setup by providing a valid TOTP code from the authenticator app.\nReturns recovery codes that should be stored securely.",
                "summary": "Confirm 2FA setup",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "minLength": 6,
                                        "maxLength": 6
                                    }
                                },
                                "required": [
                                    "code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/two-factor/disable": {
            "delete": {
                "operationId": "twoFactor.disable",
                "description": "Disable two-factor authentication for the current user.\nRequires current password for security.",
                "summary": "Disable 2FA",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "parameters": [
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/two-factor/recovery-codes": {
            "get": {
                "operationId": "twoFactor.recoveryCodes",
                "description": "Retrieve the current recovery codes.",
                "summary": "Get recovery codes",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "twoFactor.regenerateRecoveryCodes",
                "description": "Generate new recovery codes. Old codes will no longer work.",
                "summary": "Regenerate recovery codes",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/watermark-jobs": {
            "get": {
                "operationId": "watermark-jobs.index",
                "description": "Retrieve a paginated list of the authenticated user's watermark jobs,\nordered by creation date (newest first).",
                "summary": "List watermark jobs",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "watermark-jobs.store",
                "description": "Upload a PDF file and create a new watermark job. The job will be processed\nasynchronously in the background. Use the status endpoint to poll for completion.\n\n**Watermark Settings:**\n- `iso` - The ISO number to display in the watermark\n- `lender` - The lender name to display in the watermark\n- `font_size` - Font size in points (8-48, default: 15)\n- `color` - Hex color code for the watermark text (default: #878787)\n- `opacity` - Opacity percentage 1-100 (default: 20)",
                "summary": "Create watermark job",
                "tags": [
                    "Watermark Jobs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreWatermarkJobRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        201
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/watermark-jobs/{watermarkJob}": {
            "get": {
                "operationId": "watermark-jobs.show",
                "description": "Retrieve details of a specific watermark job. Only jobs owned by the\nauthenticated user can be accessed.",
                "summary": "Get watermark job",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "watermark-jobs.destroy",
                "description": "Delete a watermark job and its associated files (both the original\nuploaded PDF and the watermarked output). This action cannot be undone.",
                "summary": "Delete watermark job",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/watermark-jobs/{watermarkJob}/status": {
            "get": {
                "operationId": "watermarkJob.status",
                "description": "Check the processing status of a watermark job. Use this endpoint to poll\nfor job completion after creating a job.\n\n**Possible status values:**\n- `pending` - Job is queued and waiting to be processed\n- `processing` - Job is currently being processed\n- `done` - Job completed successfully, file is ready for download\n- `failed` - Job failed, check `error_message` for details",
                "summary": "Get job status",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/watermark-jobs/{watermarkJob}/download": {
            "get": {
                "operationId": "watermarkJob.download",
                "description": "Download the processed watermarked PDF file. The job must be in `done` status\nand the output file must exist. The response will be a binary PDF stream.",
                "summary": "Download watermarked PDF",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "http": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "LoginRequest": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string"
                    }
                },
                "required": [
                    "email",
                    "password"
                ],
                "title": "LoginRequest"
            },
            "RegisterRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "maxLength": 255
                    },
                    "password": {
                        "type": "string"
                    },
                    "password_confirmation": {
                        "type": "string"
                    }
                },
                "required": [
                    "name",
                    "email",
                    "password",
                    "password_confirmation"
                ],
                "title": "RegisterRequest"
            },
            "StoreWatermarkJobRequest": {
                "type": "object",
                "properties": {
                    "pdf_file": {
                        "type": "string",
                        "format": "binary",
                        "contentMediaType": "application/octet-stream",
                        "maxLength": 51200
                    },
                    "iso": {
                        "type": "string",
                        "maxLength": 50
                    },
                    "lender": {
                        "type": "string",
                        "maxLength": 50
                    },
                    "font_size": {
                        "type": "integer",
                        "minimum": 8,
                        "maximum": 48
                    },
                    "color": {
                        "type": "string",
                        "pattern": "^#[0-9A-Fa-f]{6}$"
                    },
                    "opacity": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100
                    }
                },
                "required": [
                    "pdf_file",
                    "iso",
                    "lender"
                ],
                "title": "StoreWatermarkJobRequest"
            }
        },
        "responses": {
            "ValidationException": {
                "description": "Validation error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Errors overview."
                                },
                                "errors": {
                                    "type": "object",
                                    "description": "A detailed description of each field that failed validation.",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "required": [
                                "message",
                                "errors"
                            ]
                        }
                    }
                }
            },
            "AuthenticationException": {
                "description": "Unauthenticated",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            },
            "ModelNotFoundException": {
                "description": "Not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            }
        }
    }
}