{
    "openapi": "3.1.0",
    "info": {
        "title": "BluMark API Documentation",
        "version": "1.0.0",
        "description": "## BluMark PDF Watermarking API\n\nWelcome to the BluMark API. This API allows you to programmatically watermark PDF documents with custom ISO and lender information.\n\n### Authentication\n\nAll protected endpoints require a Bearer token obtained through the `/v1/login` or `/v1/register` endpoints.\n\nInclude the token in the `Authorization` header:\n```\nAuthorization: Bearer your-api-token\n```\n\n### Two-Factor Authentication\n\nIf 2FA is enabled on an account, the login endpoint will return `two_factor_required: true`. You must then call `/v1/two-factor-challenge` with a valid TOTP code to complete authentication.\n\n### Rate Limits\n\nAPI requests are subject to rate limiting based on your subscription plan. Check your user profile for remaining credits and job limits.\n\n### Watermark Job Workflow\n\n1. **Create a job** - Upload a PDF with watermark settings via `POST /v1/watermark-jobs`\n2. **Check status** - Poll `GET /v1/watermark-jobs/{id}/status` until processing completes\n3. **Download** - Retrieve the watermarked PDF via `GET /v1/watermark-jobs/{id}/download`"
    },
    "servers": [
        {
            "url": "https://www.blumark.pro/api"
        }
    ],
    "tags": [
        {
            "name": "Authentication",
            "description": "Endpoints for user registration, login, and token management"
        },
        {
            "name": "Email Verification",
            "description": "Endpoints for email verification management"
        },
        {
            "name": "Two-Factor Authentication",
            "description": "Endpoints for managing two-factor authentication"
        },
        {
            "name": "Watermark Jobs",
            "description": "Create and manage PDF watermarking jobs"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/v1/register": {
            "post": {
                "operationId": "auth.register",
                "description": "Create a new user account and receive an API token for authentication.\nThe returned token should be used as a Bearer token in the Authorization header\nfor all subsequent authenticated requests.",
                "summary": "Register a new user",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/login": {
            "post": {
                "operationId": "auth.login",
                "description": "Authenticate with email and password to receive an API token.\nIf the user has 2FA enabled, the response will include `two_factor_required: true`\nand you must call the `/v1/two-factor-challenge` endpoint to complete login.",
                "summary": "Login",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful or 2FA required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/AuthResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TwoFactorRequiredResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/logout": {
            "post": {
                "operationId": "auth.logout",
                "description": "Revoke the current API token. After calling this endpoint, the token\nused for authentication will no longer be valid.",
                "summary": "Logout",
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "Logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/user": {
            "get": {
                "operationId": "auth.user",
                "description": "Retrieve the profile information of the currently authenticated user,\nincluding their subscription plan and remaining job credits.",
                "summary": "Get current user",
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "User profile retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/forgot-password": {
            "post": {
                "operationId": "auth.forgotPassword",
                "description": "Send a password reset link to the user's email address.\nThe link will be valid for a limited time period.",
                "summary": "Send password reset link",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    }
                                },
                                "required": ["email"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset link sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/reset-password": {
            "post": {
                "operationId": "auth.resetPassword",
                "description": "Reset the user's password using the token received via email.",
                "summary": "Reset password",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/two-factor-challenge": {
            "post": {
                "operationId": "auth.twoFactorChallenge",
                "description": "Complete login by providing a valid 2FA code after receiving `two_factor_required: true`\nfrom the login endpoint. You can provide either a TOTP code from your authenticator app\nor a recovery code.",
                "summary": "Verify two-factor authentication",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TwoFactorChallengeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/v1/email/verification-status": {
            "get": {
                "operationId": "email.verificationStatus",
                "description": "Check if the authenticated user's email has been verified.",
                "summary": "Get email verification status",
                "tags": [
                    "Email Verification"
                ],
                "responses": {
                    "200": {
                        "description": "Verification status retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmailVerificationStatusResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/email/verification-notification": {
            "post": {
                "operationId": "email.resendVerification",
                "description": "Send a new email verification notification to the authenticated user.\nOnly works if the user's email is not already verified.",
                "summary": "Resend verification email",
                "tags": [
                    "Email Verification"
                ],
                "responses": {
                    "200": {
                        "description": "Verification email sent or already verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/email/verify/{id}/{hash}": {
            "get": {
                "operationId": "email.verify",
                "description": "Verify the user's email address using the verification token from the email link.\nThe hash should be the SHA-256 hash of the user's email address.",
                "summary": "Verify email with token",
                "tags": [
                    "Email Verification"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The user ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "required": true,
                        "description": "SHA-256 hash of the user's email",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Email verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmailVerifyResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "description": "Invalid verification link",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/two-factor/status": {
            "get": {
                "operationId": "twoFactor.status",
                "description": "Check if two-factor authentication is enabled for the current user.",
                "summary": "Get 2FA status",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "2FA status retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "enabled": {
                                            "type": "boolean",
                                            "description": "Whether 2FA is enabled"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/two-factor/enable": {
            "post": {
                "operationId": "twoFactor.enable",
                "description": "Generate a new 2FA secret and QR code URL. The user must then confirm\nthe setup by providing a valid TOTP code via the confirm endpoint.",
                "summary": "Enable 2FA",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "2FA secret generated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TwoFactorEnableResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/two-factor/confirm": {
            "post": {
                "operationId": "twoFactor.confirm",
                "description": "Confirm 2FA setup by providing a valid TOTP code from the authenticator app.\nReturns recovery codes that should be stored securely.",
                "summary": "Confirm 2FA setup",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "minLength": 6,
                                        "maxLength": 6,
                                        "description": "6-digit TOTP code from authenticator app"
                                    }
                                },
                                "required": ["code"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "2FA enabled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TwoFactorConfirmResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/two-factor/disable": {
            "delete": {
                "operationId": "twoFactor.disable",
                "description": "Disable two-factor authentication for the current user.\nRequires current password for security.",
                "summary": "Disable 2FA",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "description": "Current account password"
                                    }
                                },
                                "required": ["password"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "2FA disabled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/two-factor/recovery-codes": {
            "get": {
                "operationId": "twoFactor.getRecoveryCodes",
                "description": "Retrieve the current recovery codes.",
                "summary": "Get recovery codes",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "Recovery codes retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RecoveryCodesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "post": {
                "operationId": "twoFactor.regenerateRecoveryCodes",
                "description": "Generate new recovery codes. Old codes will no longer work.",
                "summary": "Regenerate recovery codes",
                "tags": [
                    "Two-Factor Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "Recovery codes regenerated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TwoFactorConfirmResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/watermark-jobs": {
            "get": {
                "operationId": "watermark-jobs.index",
                "description": "Retrieve a paginated list of the authenticated user's watermark jobs,\nordered by creation date (newest first).",
                "summary": "List watermark jobs",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of jobs per page",
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of watermark jobs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WatermarkJobListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "watermark-jobs.store",
                "description": "Upload a PDF file and create a new watermark job. The job will be processed\nasynchronously in the background. Use the status endpoint to poll for completion.\n\n**Watermark Settings:**\n- `iso` - The ISO number to display in the watermark\n- `lender` - The lender name to display in the watermark\n- `font_size` - Font size in points (8-48, default: 15)\n- `color` - Hex color code for the watermark text (default: #878787)\n- `opacity` - Opacity percentage 1-100 (default: 20)",
                "summary": "Create watermark job",
                "tags": [
                    "Watermark Jobs"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreWatermarkJobRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Watermark job created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WatermarkJobCreateResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "description": "Job limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobLimitExceededResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/watermark-jobs/{watermarkJob}": {
            "get": {
                "operationId": "watermark-jobs.show",
                "description": "Retrieve details of a specific watermark job. Only jobs owned by the\nauthenticated user can be accessed.",
                "summary": "Get watermark job",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Watermark job details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/WatermarkJob"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            },
            "delete": {
                "operationId": "watermark-jobs.destroy",
                "description": "Delete a watermark job and its associated files (both the original\nuploaded PDF and the watermarked output). This action cannot be undone.",
                "summary": "Delete watermark job",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Watermark job deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/watermark-jobs/{watermarkJob}/status": {
            "get": {
                "operationId": "watermarkJob.status",
                "description": "Check the processing status of a watermark job. Use this endpoint to poll\nfor job completion after creating a job.\n\n**Possible status values:**\n- `pending` - Job is queued and waiting to be processed\n- `processing` - Job is currently being processed\n- `done` - Job completed successfully, file is ready for download\n- `failed` - Job failed, check `error_message` for details",
                "summary": "Get job status",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Job status retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WatermarkJobStatusResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/watermark-jobs/{watermarkJob}/download": {
            "get": {
                "operationId": "watermarkJob.download",
                "description": "Download the processed watermarked PDF file. The job must be in `done` status\nand the output file must exist. The response will be a binary PDF stream.",
                "summary": "Download watermarked PDF",
                "tags": [
                    "Watermark Jobs"
                ],
                "parameters": [
                    {
                        "name": "watermarkJob",
                        "in": "path",
                        "required": true,
                        "description": "The watermark job ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The watermarked PDF file",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenException"
                    },
                    "404": {
                        "description": "File not available for download",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "File not available for download"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "file_not_ready"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "http": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "credits": {
                        "type": "integer"
                    },
                    "plan": {
                        "type": "string",
                        "enum": ["free", "pro", "enterprise"]
                    },
                    "remaining_jobs": {
                        "type": "integer"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "title": "User"
            },
            "LoginRequest": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string"
                    }
                },
                "required": [
                    "email",
                    "password"
                ],
                "title": "LoginRequest"
            },
            "RegisterRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "maxLength": 255
                    },
                    "password": {
                        "type": "string"
                    },
                    "password_confirmation": {
                        "type": "string"
                    }
                },
                "required": [
                    "name",
                    "email",
                    "password",
                    "password_confirmation"
                ],
                "title": "RegisterRequest"
            },
            "ResetPasswordRequest": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string",
                        "description": "Password reset token from email"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string"
                    },
                    "password_confirmation": {
                        "type": "string"
                    }
                },
                "required": [
                    "token",
                    "email",
                    "password",
                    "password_confirmation"
                ],
                "title": "ResetPasswordRequest"
            },
            "TwoFactorChallengeRequest": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "password": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string",
                        "description": "6-digit TOTP code from authenticator app",
                        "nullable": true
                    },
                    "recovery_code": {
                        "type": "string",
                        "description": "Recovery code (alternative to TOTP code)",
                        "nullable": true
                    }
                },
                "required": [
                    "email",
                    "password"
                ],
                "title": "TwoFactorChallengeRequest"
            },
            "AuthResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Login successful"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "token": {
                        "type": "string",
                        "example": "1|abc123xyz..."
                    },
                    "token_type": {
                        "type": "string",
                        "example": "Bearer"
                    }
                },
                "title": "AuthResponse"
            },
            "TwoFactorRequiredResponse": {
                "type": "object",
                "properties": {
                    "two_factor_required": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Two-factor authentication required."
                    }
                },
                "title": "TwoFactorRequiredResponse"
            },
            "TwoFactorEnableResponse": {
                "type": "object",
                "properties": {
                    "secret": {
                        "type": "string",
                        "description": "The 2FA secret key",
                        "example": "JBSWY3DPEHPK3PXP"
                    },
                    "qr_code_url": {
                        "type": "string",
                        "description": "URL for generating QR code",
                        "example": "otpauth://totp/BluMark:user@example.com?secret=JBSWY3DPEHPK3PXP&issuer=BluMark"
                    }
                },
                "title": "TwoFactorEnableResponse"
            },
            "TwoFactorConfirmResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Two-factor authentication enabled."
                    },
                    "recovery_codes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": ["abcdef1234-ghijkl5678", "mnopqr9012-stuvwx3456"]
                    }
                },
                "title": "TwoFactorConfirmResponse"
            },
            "RecoveryCodesResponse": {
                "type": "object",
                "properties": {
                    "recovery_codes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": ["abcdef1234-ghijkl5678", "mnopqr9012-stuvwx3456"]
                    }
                },
                "title": "RecoveryCodesResponse"
            },
            "EmailVerificationStatusResponse": {
                "type": "object",
                "properties": {
                    "verified": {
                        "type": "boolean"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "title": "EmailVerificationStatusResponse"
            },
            "EmailVerifyResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Email verified successfully."
                    },
                    "verified": {
                        "type": "boolean",
                        "example": true
                    }
                },
                "title": "EmailVerifyResponse"
            },
            "MessageResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "title": "MessageResponse"
            },
            "StoreWatermarkJobRequest": {
                "type": "object",
                "properties": {
                    "pdf_file": {
                        "type": "string",
                        "format": "binary",
                        "description": "The PDF file to watermark (max 50MB)"
                    },
                    "iso": {
                        "type": "string",
                        "maxLength": 50,
                        "description": "The ISO number to display in the watermark"
                    },
                    "lender": {
                        "type": "string",
                        "maxLength": 50,
                        "description": "The lender name to display in the watermark"
                    },
                    "font_size": {
                        "type": "integer",
                        "minimum": 8,
                        "maximum": 48,
                        "default": 15,
                        "description": "Font size in points"
                    },
                    "color": {
                        "type": "string",
                        "pattern": "^#[0-9A-Fa-f]{6}$",
                        "default": "#878787",
                        "description": "Hex color code for the watermark text"
                    },
                    "opacity": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100,
                        "default": 20,
                        "description": "Opacity percentage"
                    }
                },
                "required": [
                    "pdf_file",
                    "iso",
                    "lender"
                ],
                "title": "StoreWatermarkJobRequest"
            },
            "WatermarkJob": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "original_filename": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["pending", "processing", "done", "failed"]
                    },
                    "error_message": {
                        "type": "string",
                        "nullable": true
                    },
                    "settings": {
                        "type": "object",
                        "properties": {
                            "iso": {
                                "type": "string"
                            },
                            "lender": {
                                "type": "string"
                            },
                            "font_size": {
                                "type": "integer"
                            },
                            "color": {
                                "type": "string"
                            },
                            "opacity": {
                                "type": "integer"
                            }
                        }
                    },
                    "page_count": {
                        "type": "integer",
                        "nullable": true
                    },
                    "file_size": {
                        "type": "integer"
                    },
                    "file_size_formatted": {
                        "type": "string"
                    },
                    "can_download": {
                        "type": "boolean"
                    },
                    "processed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "title": "WatermarkJob"
            },
            "WatermarkJobListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/WatermarkJob"
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "current_page": {
                                "type": "integer"
                            },
                            "last_page": {
                                "type": "integer"
                            },
                            "per_page": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "title": "WatermarkJobListResponse"
            },
            "WatermarkJobCreateResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Watermark job created successfully"
                    },
                    "data": {
                        "$ref": "#/components/schemas/WatermarkJob"
                    }
                },
                "title": "WatermarkJobCreateResponse"
            },
            "WatermarkJobStatusResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "status": {
                        "type": "string",
                        "enum": ["pending", "processing", "done", "failed"]
                    },
                    "error_message": {
                        "type": "string",
                        "nullable": true
                    },
                    "can_download": {
                        "type": "boolean"
                    },
                    "processed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "title": "WatermarkJobStatusResponse"
            },
            "JobLimitExceededResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "You have reached your daily job limit. Please upgrade your plan or wait until tomorrow."
                    },
                    "error": {
                        "type": "string",
                        "example": "job_limit_exceeded"
                    }
                },
                "title": "JobLimitExceededResponse"
            }
        },
        "responses": {
            "ValidationException": {
                "description": "Validation error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Errors overview."
                                },
                                "errors": {
                                    "type": "object",
                                    "description": "A detailed description of each field that failed validation.",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "required": [
                                "message",
                                "errors"
                            ]
                        }
                    }
                }
            },
            "AuthenticationException": {
                "description": "Unauthenticated",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Unauthenticated."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            },
            "ForbiddenException": {
                "description": "Forbidden",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "You are not authorized to access this job."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            },
            "ModelNotFoundException": {
                "description": "Not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "No query results for model [WatermarkJob]."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            }
        }
    }
}
